<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <body style="color: rgb(4, 255, 0);background-color:#000;"></body>
    <title>Global Cybermap</title>
    <style>
        body{
            font-family:Courier New, Courier, monospace;
        }
    </style>
</head>
<body>
    <h1 style="margin-left:260px; font-size:60px;">Cyberthreaten Map</h1>
    <iframe class="cybermaps" style="margin-left:60px;"width="1000" height="1000" src="https://cybermap.kaspersky.com/en/widget/dynamic/dark" frameborder="0"></iframe>

</body>
</html>