<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Changelog for Bridger 24w04a</title>
    <style>
        body{
            background-color: #000;
            color: rgb(4,255,0);
            font-family: 'Courier New', Courier, monospace;
        }
    </style>
</head>
<body>
    <p>This version of Bridger is the official update of Bridger Toolbox include Bridger Editor and Bridger Dev Tools</p>
    <p>This version of Bridger Upgraded our Location system which allow the user to check their three-dementional location include latitude langtitude and altitude</p>
</body>